<script src="js/coaching.js"></script>

<div class="div1" style="display: inline; float: left; margin-left: 20px;">
    <section>
        <H3>
            <div style="display: inline; float: left;">Welcome <span id="name">James</span></div>
        </H3> 
        <div style="display: margin-top: -25px; margin-right: -20px;">
            <br>
            <div style="float: right; margin-right: 15%; margin-top: -20px;">
                <div id="dialog2" class="triangle_up1"></div>
            </div>
            <div class="div2" style="width: 35%; height: 140px; border: 1px solid orange; float: right; display: inline; margin-right: 15px;">
                <H4 id="challengeName">Introduce the Excalibur 5500</H4> 
                <br>
                <div>
                    <H5 style="margin-top: -10px;">
                        By <span id="challengerFirstName">Simon</span> <span id="challengerLastName">Johnson</span>. 
                    </H5>
                    <div>
                        <H5 style="float: left; display: inline; margin-top: -1px;">Due
                        </H5>
                        <H5 style="float: left; display: inline; margin-top: -1px; margin-left: 5px; color: orange;"> 
                            <span id="due_date">2016-12-15</span>
                        </H5>
                    </div>
                    <br>
                    <div>
                        <label style="background-color: orange; color: white; border: 5px solid; border-color: orange; float: right;">Complete Now</label>
                    </div>
                </div>
            </div> 
            <br>
            <div style="float: right; display: inline; margin-right: -22%; margin-top: 140px;">
                <div id="dialog3" class="triangle_down1"></div> 
            </div>           
        <br>
        <br>
        <article>
            <div style="width: 50%;">
                <H5 style="margin-top: -10px; color: #2196f3">
                    It looks like you have some chellenges to complete
                </H5>
            </div>
            <br>
            <div style="width: 50%;">
                <H5 style="margin-top: -10px;">
                    Select an incomplete challenge to the right, or browse your My Challenges table bellow. 
                </H5>
            </div>        
        </article>
    </section>
</div>
<div class="div1" style="display: inline; float: left; margin-left: 20px;">
    <section>
        <H3>
            <div id="name" style="display: inline; float: left; position: absolute; z-index: 10;">Welcome <span id="name">Simon</span></div>
        </H3> 
        <div style="display: inline; float: right; margin-top: -25px; margin-right: -120px;" id="chart-couching1"></div>
        <br>
        <br>
        <br>
        <article>
            <div style="width: 20%; position: absolute;">
                <H5 style="margin-top: -10px; color: #2196f3">
                    It looks like you have some entries to review
                </H5>
            </div>
            <br>
            <br>
            <div style="width: 23%; position: absolute;">
                <H5 style="margin-top: -10px;">
                    Browse your Team Challenges tab below to continue reviewing submisions, or your My Challenges tab to complete challenges. 
                </H5>
            </div>        
        </article>
        <br>
        <br>
        <br>
    </section>
</div>
<div class="div1" style="display: inline; float: left; margin-left: 20px;">
    <section>
        <H3>
            <div style="display: inline; float: left; position: absolute; z-index: 5;">Personal Status</div>
        </H3> 
        <div style="display: inline; float: right; margin-top: -25px; margin-right: -120px;" id="chart-couching3"></div>
        <br>
        <br>
        <article>
            <div class="div2" style="width: 25%; border: 1px solid #d0d0d0; float: left; display: inline; position: relative;">
                <H6>Avg Score</H6> 
                <H3 style="margin-top: -10px; color: #37929c">
                    <div id="avg_score">84.2 %</div>
                </H3>
            </div>
            <div class="div2" style="width: 11%; border: 1px solid #d0d0d0; float: left; display: inline; margin-left: 20px; position: absolute;">
                <H6>Overall Rank</H6>
                <H3 id="overall_1" style="float: left; display: inline; margin-top: -10px; color: #37929c;">5</H3>
                <H6 style="float: left; display: inline; margin-top: -1px; margin-left: 5px;"> de 
                    <span id="overall_2">24</span>
                </H6>
            </div>        
        </article>
        <br>
        <br>
        <br>    
        <br>
        <div class="div2" style="width: 23%; border: 1px solid #d0d0d0; position: absolute;">
            <H6>Medals Awarded</H6>
            <div id="medals">
                <div class="coin bronze"><p>3</p></div>
                <div class="coin silver"><p>2</p></div>
                <div class="coin gold"><p>1</p></div>
            </div>
        </div>
    </section>
</div>