<script src="js/fusioncharts.js"></script>
<script src="js/content.js"></script>
<script src="js/authorSelector.js"></script>
<script src="js/dateSelector.js"></script>

<div class="div3">
    <section>
        <H3>
            <div id="name" style="display: inline; float: left;">Content Created by</div>
        </H3>
        <div id="authorSelector1" style="display: inline;
    float: left;"></div>
        <div id="dateSelector" style="z-index: 15;"></div>
        <div style="display: inline; float: right; margin-top: -25px; margin-right: -120px;" id="chart-content1"></div>
        <br>
        <article>
            <div class="div2" style="width: 15%; border: 1px solid #d0d0d0; float: left; display: inline;">
                <H6>Active Content</H6> 
                <H3 style="margin-top: -10px; color: #37929c">
                    <div id="courses_to_complete">32</div>
                </H3>
            </div>
            <div class="div2" style="width: 16%; border: 1px solid #d0d0d0; float: left; display: inline; margin-left: 10px;">
                <H6>Inactive Content</H6> 
                <H3 style="margin-top: -10px; color: #37929c">
                        <div id="total_enrrolments">8</div> 
                </H3>
            </div>
            <div class="div2" style="width: 16%; border: 1px solid #d0d0d0; float: left; display: inline; margin-left: 10px;">
                <H6>Archived Content</H6> 
                <H3 style="margin-top: -10px; color: #37929c">
                        <div id="total_enrrolments">6</div> 
                </H3>
            </div>      
        </article>
        <br>
        <br>
        <br>    
        <div style="width: 60%;">
            <hr>
        </div>
        <div class="div2" style="width: 15%; border: 1px solid #d0d0d0; float: left; display: inline;">
            <H6>Avg. Length</H6> 
            <H3 style="margin-top: -10px; color: #37929c">
                <div id="courses_to_complete">32</div>
            </H3>
        </div>
        <div class="div2" style="width: 20%; border: 1px solid #d0d0d0; float: left; display: inline; margin-left: 15px;">
            <H6>Avg Viewing Time</H6> 
            <H3 id="courses_in_curriculumns" style="float: left; display: inline; margin-top: -10px; color: #37929c;">4</H3>
            <H6 style="float: left; display: inline; margin-top: -1px; margin-left: 5px;"> min</H6>
            <H3 id="courses_in_curriculumns" style="float: left; display: inline; margin-top: -10px; margin-left: 10px; color: #37929c;">41</H3>
            <H6 style="float: left; display: inline; margin-top: -1px; margin-left: 5px;"> sec</H6>
        </div>
    </section>
</div>
<script src="js/pikaday.js"></script>
<script>
    var picker1 = new Pikaday({ field: document.getElementById('datepicker1') });
    var picker2 = new Pikaday({ field: document.getElementById('datepicker2') });
</script>