<div id="popup" class="popup">
    <H5 id="date">Select Date</H5>
    <div class="popuptext" id="myPopup"></div>
</div>
<div id="myModal" class="modal">
  <div class="modal-content">
        <H5 style="color: #9e9e9e;">Select Date Range</H5>
        <div id="selector1">
            <div id="1" class="list-group-item">Last 7 Days</div>
            <div id="2" class="list-group-item">Last 30 Days</div>
            <div id="3" class="list-group-item">Year to Date</div>
            <div id="4" class="list-group-item">Last 12 Months</div>
            <div id="5" class="list-group-item">Custom Range</div>
            <div id="dateModal" class="modal">
              <div class="modal-content">
                    <H5 style="color: #9e9e9e;">Select Date Range</H5>
                    <div style="height: 100px;">
                        <div style="float: left; display: inline;">
                            <H6>
                                Initial Date:
                            </H6>
                            <input type="text" id="datepicker1">
                        </div>
                        <div style="float: left; display: inline; margin-left: 10px;">
                            <H6>
                                Final Date:
                            </H6>
                            <input type="text" id="datepicker2">
                        </div>
                        <div>
                            <label id="done" style="background-color: orange; color: white; border: 5px solid; border-color: orange; float: right; margin-top: 10px; margin-right: 5px;">Done</label>
                        </div>
                    </div>
              </div>
            </div>
        </div>
        <br>
        <H5 style="color: #9e9e9e;">Include Content By</H5>
        <div id="selector2">
            <div id="6" href="#" class="list-group-item">Creation Date</div>
            <div id="7" href="#" class="list-group-item">First Enrrollment Date</div>
            <div id="8" href="#" class="list-group-item">First Viewed Date</div>
        </div>
  </div>
</div>