<script src="js/training.js"></script>
<script src="js/dateSelector.js"></script>
<script src="js/authorSelector.js"></script>

<div class="div3">
    <section>
        <div id="foto" style="display: inline; float: left;">
            <img id="image" src="img/James.png">
        </div>
        <H3>
            <div id="name" style="display: inline; float: left; padding:7px 20px;">James Morse</div>
        </H3>
        <div id="credits" style="display: inline; float: left; margin-left: 90px; position: absolute; z-index: 15;">Credits
            <span id="credits" style="background-color: #3e6c6f; color: white; border: 5px solid #3e6c6f;">24</span>
        </div> 
        <div style="display: inline; float: right; margin-top: -25px; margin-right: -120px;" id="chart-training1"></div>
        <H6>
            <div id="position" style="padding:50px 150px;">National Account Manager Sales</div>
        </H6>
        <div id="dateSelector1" style="margin-top: -10px;"></div>
        <article>
            <div class="div2" style="width: 20%; border: 1px solid orange; float: left; display: inline;">
                <H6>Courses to Complete</H6> <H3 style="margin-top: -10px; color: orange"><div id="courses_to_complete">9</div></H3>
            </div>
            <div class="div2" style="width: 31%; border: 1px solid #d0d0d0; float: left; display: inline; margin-left: 10px; position: absolute;">
                <div style="float: left; display: inline; border-right: 1px solid #d0d0d0; height: 59px; width: 35%">
                    <H6>Total Enrrolments</H6> 
                    <H3 style="margin-top: -10px; color: #37929c">
                            <div id="total_enrrolments">11</div> 
                    </H3>
                </div>
                <div style="float: left; display: inline; margin-left: 10px; height: 59px; width: 57%;">
                    <H6 style="display: block;">
                        <span id="individual_courses" style="color: #37929c;"><b>7</b></span>
                        <span> Individual Courses</span> 
                    </H6>
                    
                    <H6 style="display: block;">
                        <span id="courses_in_curriculumns" style="color: #37929c;"><b>33</b></span>
                        <span> Courses in</span>
                        <span id="curriculums" style="color: #37929c;"><b>4</b></span>
                        <span> Curriculumns</span> 
                    </H6>
                </div>
            </div>        
        </article>
    </section>
</div>
<br>
<br>
<div class="div3">
    <section>
        <div id="foto" style="display: inline; float: left;">
            <img id="image" src="img/James.png">
        </div>
        <H3>
            <div id="name" style="display: inline; float: left; padding:0px 20px;">Courses Created By</div>
        </H3>
        <div id="authorSelector1" style="display: inline;
    float: left;
    position: absolute;
    z-index: 15;"></div>
        <div style="display: inline; float: right; margin-top: -25px; margin-right: -120px;" id="chart-training2"></div>
        <br>
        <br>
        <br>
        <article>
            <div class="div2" style="width: 12%; border: 1px solid #d0d0d0; float: left; display: inline; margin-left: 10px; margin-top: 10px; position: relative;">
            <H6>Courses</H6> 
            <H3 style="margin-top: -10px; color: #37929c">
                <div id="courses_to_complete">24</div>
            </H3>
        </div>
        <div class="div2" style="width: 18%; border: 1px solid #d0d0d0; float: left; display: inline; margin-left: 10px; margin-top: 10px; position: relative;">
            <H6>Students Enrolled</H6> 
            <H3 style="margin-top: -10px; color: #37929c">
                    <div id="total_enrrolments">74</div> 
            </H3>
        </div>
        <div class="div2" style="width: 9%; border: 1px solid #d0d0d0; float: left; display: inline; margin-left: 10px; margin-top: 10px; position: absolute;">
            <H6>Enrollments</H6> 
            <H3 style="margin-top: -10px; color: #37929c">
                    <div id="total_enrrolments">834</div> 
            </H3>
        </div>       
        </article>
        <div id="dateSelector2" style="position: absolute; display: block; cursor: pointer;
    padding: 5px 20px; margin-top: -25px; margin-left: 110px;"></div>
        <br>
        <br>
        <br>
        <br>
        <article>
            <div class="div2" style="width: 19%; border: 1px solid #d0d0d0; float: left; display: inline; position: relative;">
                <H6>Avg. Length</H6> 
                <H3 id="courses_in_curriculumns" style="float: left; display: inline; margin-top: -10px; color: #37929c;">8</H3>
                <H6 style="float: left; display: inline; margin-top: -1px; margin-left: 5px;"> min</H6>
                <H3 id="courses_in_curriculumns" style="float: left; display: inline; margin-top: -10px; margin-left: 10px; color: #37929c;">43</H3>
                <H6 style="float: left; display: inline; margin-top: -1px; margin-left: 5px;"> sec</H6>
            </div>
            <div class="div2" style="width: 20%; border: 1px solid #d0d0d0; float: left; display: inline; margin-left: 10px; position: relative;">
                <H6>Avg Start to Complete</H6> 
                <H3 id="courses_in_curriculumns" style="float: left; display: inline; margin-top: -10px; color: #37929c;">14</H3>
                <H6 style="float: left; display: inline; margin-top: -1px; margin-left: 5px;"> min</H6>
                <H3 id="courses_in_curriculumns" style="float: left; display: inline; margin-top: -10px; margin-left: 10px; color: #37929c;">32</H3>
                <H6 style="float: left; display: inline; margin-top: -1px; margin-left: 5px;"> sec</H6>
            </div>
            <div class="div2" style="width: 17%; border: 1px solid #d0d0d0; float: left; display: inline; margin-left: 10px; position: absolute;">
                <H6>Avg Enroll to Complete</H6> 
                <H3 id="courses_in_curriculumns" style="float: left; display: inline; margin-top: -10px; color: #37929c;">3</H3>
                <H6 style="float: left; display: inline; margin-top: -1px; margin-left: 5px;"> days</H6>
                <H3 id="courses_in_curriculumns" style="float: left; display: inline; margin-top: -10px; margin-left: 10px; color: #37929c;">11</H3>
                <H6 style="float: left; display: inline; margin-top: -1px; margin-left: 5px;"> hours</H6>
            </div>     
        </article>
    </section>
</div>
<script src="js/pikaday.js"></script>
<script>
    var picker1 = new Pikaday({ field: document.getElementById('datepicker1') });
    var picker2 = new Pikaday({ field: document.getElementById('datepicker2') });
</script>