<?xml version="1.0" encoding="utf-8" ?>
<menubar>
  <properties
      description ="ui-generator" >
  </properties>
    <menu text="Company Management" url="" translate="COMPANY.COMPANY">
      <submenu text="Company" url="company" translate="COMPANY.MENU"></submenu>
    </menu>
    <menu text="Users" url="users" translate="USER.USERS"></menu>
    <menu text="Content" url="content" translate="content"></menu>
    <menu text="Training" url="training" translate="training"></menu>
    <menu text="Coaching" url="coaching" translate="coaching"></menu>
</menubar>